/.project
/.pydevproject
*.pyc
/test/data
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp 
.settings/
__pycache__
/banana.egg-info/
/banana/atlases
/banana/templates
/.gitlab-ci.yml
/build
/dist
/docs/source/_build
/docs/build
.pytest_cache/
*.dcm
/scripts/scans
scripts/MotionCorrection_motion_par.txt
scripts/MotionCorrection_start_times.txt
.cache
/banana/interfaces/resources/matlab/new_qsm
/.history